services:
  prevant:
    image: aixigo/prevant
    labels:
      traefik.http.routers.prevant.rule: 'PathPrefix(`/`)'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./prevant-config.toml:/app/config.toml
    environment:
      - POSTGRES_PASSWORD
      - COMPOSE_PROJECT_NAME
    depends_on:
      - db

  traefik:
    image: traefik:v3
    command: --api --api.insecure --providers.docker --log.level=INFO
    environment:
      - COMPOSE_PROJECT_NAME
    ports:
      - "8080:80"
      - "8081:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  db:
    image: postgres
    shm_size: 128mb
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD
