$silver: #ccc;
$dusty-gray: #999;
$pale-sky: #6c757d;
$aqua-deep: #004a43;

$jira-new: #f5598d;
$jira-concept: #54b0fc;
$jira-ready: #2196f3;
$jira-process: #ff9800;
$jira-review: #4caf50;
$jira-done: #209a25;

//
// Assign Colors
// =============================================================================

$app-background-color: #343a40;
