[package]
name = "prevant"
version = "0.9.0"
authors = ["Marc Schreiber <marc.schreiber@aixigo.de>"]
repository = "https://github.com/aixigo/PREvant/"
edition = "2018"

[dependencies]
base64 = "0.10"
cached = "0.9"
clap = "2.33"
crossbeam = "0.7"
crossbeam-utils = "0.6"
env_logger = "0.6"
failure = "0.1"
futures = "0.1"
handlebars = "1.1"
hyper = "0.10"
lazy_static = "1.3"
log = "0.4"
multimap = "0.4"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde_regex = "0.3"
serde_yaml = "0.8"
tokio = "0.1"
tokio-core = "0.1"
toml = "0.4"
rayon = "1.0"
regex = "1.0"
reqwest = "0.9"
rocket = "0.4"
rocket_contrib = "0.4"
rocket-cache-response = "0.5"
secstr = "0.3"
url = "1.7"
yansi = "0.5"

[dependencies.chrono]
version = "0.4"
features = [ "serde" ]

[dependencies.dkregistry]
git = "https://github.com/camallo/dkregistry-rs.git"
rev = "201f587c4720cf8977fdea32884de565be5efb37"

[dependencies.http-api-problem]
version = "0.12"
features = ["with_rocket"]

[dependencies.shiplift]
version = "0.6"
default-features = false
features = ["unix-socket", "chrono"]

[dependencies.goji]
git = "https://github.com/softprops/goji.git"
rev = "1d72ffee98b88321418181998225c700904be414"

[dev-dependencies]
sha2 = "0.8"
