on: [push]

name: Build and test API

jobs:
  unitTest:
    name: API Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Install latest stable
        uses: dtolnay/rust-toolchain@stable

      - name: Run cargo test
        run:
          cargo test --manifest-path api/Cargo.toml

  integrationTests:
    name: API Integration Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Build Docker Image
        run: docker build --pull -t aixigo/prevant .

      - name: Install latest stable
        uses: dtolnay/rust-toolchain@stable

      - name: Run cargo test
        run:
          cargo test --manifest-path api-tests/Cargo.toml -- --test-threads=1
